<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->




    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="index.html">ICT 융합학부</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">학부 홈페이지</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">학부 설명</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="post.html">학생회</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">자유게시판</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">로그인</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>ICT</h1>
              <span class="subheading">Interdiciplinary computing technology</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                2018학년도 ICT융합학부 수시모집 경쟁률 작년보다 올라...
              </h2>
              <h3 class="post-subtitle">
                이 새끼들이 장학금에 눈이 멀어 가시밭길을 걸으려고 해...
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">멀티탭</a>
              on September 17, 2017</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                ICT융합학부 학생회 공식출범, 회장 김승환/ 부회장 신수지
              </h2>
               <h3 class="post-subtitle">
                단일후보, 투표율 100%에 85%의 찬성표로 당선
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">로드더갓</a>
              on September 18, 2017</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                안제민 조교, 조용우교수님의 오픈소스 강의에 강한 불만을 드러내..
              </h2>
              <h3 class="post-subtitle">
               인원 확충이나 임금 인상요구, 조교노조 파업 검토 중.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">일물실 조교</a>
              on August 24, 2017</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                학연산 클러스터 5,6층 시공완료 조만간 이사를 완료할것.
              </h2>
              <h3 class="post-subtitle">
                ICT융합학부, 과방도 생길 예정
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">ICT행정팀</a>
              on July 8, 2017</p>
          </div>
          <hr>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-secondary float-right" href="#">Other Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-slack fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
